<%- include('layouts/header') -%>

<div class="container">
  <div class="page-header">
    <h1>About StarterKit.io</h1>
  </div>

  <p class="lead">It all started on the 1st of March 2016...</p>
</div>

<%- include('layouts/footer') -%>
