{% extends "layouts/docs.njk" %}

{% block content %}
<h1 class="page-header">At a Glance</h1>

<p class="lead"><strong>StarterKit.io</strong> is a NodeJS MVC framework that help anyone with an idea to get started quickly and focus on the idea instead of learning about the framework.</p>

<p>It comes...</p>

<ul>
	<li>pre-installed with the best libraries</li>
	<li>bundled with commonly used functions and applications</li>
	<li>with minimal documentations to get started quickly</li>
	<li>ready to deploy into cloud</li>
	<li>with monitoring services ready</li>
</ul>

<p>Let's get <a href="/docs/getting-started">started</a>.</p>
{% endblock %}