{% extends "layouts/docs.njk" %}

{% block docNavTutorials %}
active
{% endblock %}

{% block content %}
<h1 class="page-header">Tutorials</h1>

<p class="lead">Here's a list of tutorials to help you customize your StarterKit.io</p> 

<div class="list-group">
	 <a href="/docs/tutorials/update-email-sending-service"
	 		class="list-group-item">Update email sending service</a>
</div>
{% endblock %}