
  <br/>
  <br/>
  <div class="footer">
    <div class="container text-center">
      &copy; 2016 <%= brand.name %>. All rights reserved. <br/><br/>
      Powered by <a href="http://starterkit.io">StarterKit.io</a>
    </div>
  </div>
  
  <br/>
  <br/>

  <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
  <script src="/components/jquery/dist/jquery.min.js"></script>
  <!-- Include all compiled plugins (below), or include individual files as needed -->
  <script src="/components/bootstrap/dist/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>
  </body>
</html>
