{% extends "layouts/default.njk" %}

{% block navAbout %}
class="active"
{% endblock %}

{% block body %}
<div class="container">
	
	<img src="/img/cropped-about.jpg" width="100%" /><br/><br/>
	
  <h1 class="text-center">StarterKit.io <span style="color: #666; font-weight: 300">is how people build side projects</span></h1>
  <br/>
  <p class="text-center lead" style="color: #888">A straightforward, no gimmick NodeJS framework. Only the best libraries. <br/>Just clone and start building your next project. No documentation needed. </p>
</div>
{% endblock %}
