{% extends "layouts/default.njk" %}

{% block body %}
<div class="container">
  <h1>This is how people build their side projects</h1>

  <p class="lead">Simple and straightforward NodeJS framework. No documentation needed.</p>

  <p><a href="https://github.com/mickeyckm/starterkit" class="btn btn-success btn-lg" target="_blank"><i class="fa fa-github" aria-hidden="true"></i> Fork from Github</a></p>
  <br/>
</div>

<hr/>

<div class="container">
	<div class="row">
		<div class="col-sm-6">
			<h3>Only the best libraries</h3>
			<p>We only use the best open-source libraries and ones with at least 500 stars.</p>
		</div>
		<div class="col-sm-6">
			<h3>Batteries included</h3>
			<p>We have included <strong>templating engine</strong>, <strong>user authentication</strong> and <strong>email sending</strong>.</p>
		</div>
	</div>
</div>

<div class="container">
	<div class="row">
		<div class="col-sm-6">
			<h3>Minimal documentation</h3>
			<p>Straightforward implementation and proper code documentation.</p>
		</div>
		<div class="col-sm-6">
			<h3>Ready for Cloud</h3>
			<p>It is ready to deploy to <a href="https://heroku.com" target="_blank">Heroku</a>. <em>AWS ElasticBeanstalk coming soon.</em></p>
		</div>
	</div>
</div>

<div class="container">
	<div class="row">
		<div class="col-sm-6">
			<h3>Monitoring Services included</h3>
			<p>The system is setup with the best monitoring tools - <a href="https://trace.risingstack.com" target="_blank">Trace</a>, <a href="https://logdna.com" target="_blank">LogDNA</a> and <a href="https://librato.com" target="_blank">Liberato</a>.</p>
		</div>
		<div class="col-sm-6">
			
		</div>
	</div>
</div>
{% endblock %}
