<div class="list-group">
  <a href="/settings/profile" class="list-group-item {% if settingsNav === 'profile' %}active{% endif %}">Profile</a>
  <a href="/settings/account" class="list-group-item {% if settingsNav === 'account' %}active{% endif %}">Account</a>
</div>
