{% extends "layouts/default.njk" %}

{% block navSignUp %}
class="active"
{% endblock %}

{% block body %}
<div class="container">
  <div class="row">
    <div class="col-lg-6 col-lg-offset-3 col-md-6 col-md-offset-3">
      <h1>Sign up</h1>

      <p class="lead">Enter your details to register</p>

      <form method="post" action="/register">
        <input type="hidden" name="_csrf" value="{{ req.csrfToken() }}" />
        <legend>Account details</legend>
        {{ registerForm.fields.email.toHTML(null, bootstrapField) | safe }}
        <div class="row">
          <div class="col-xs-6">
            {{ registerForm.fields.password.toHTML(null, bootstrapField) | safe }}
          </div>
          <div class="col-xs-6">
            {{ registerForm.fields.password2.toHTML(null, bootstrapField) | safe }}
          </div>
        </div>
        <br/>
        <legend>Profile details</legend>
        <div class="row">
          <div class="col-sm-6">
            {{ registerForm.fields.firstname.toHTML(null, bootstrapField) | safe }}
          </div>
          <div class="col-sm-6">
            {{ registerForm.fields.lastname.toHTML(null, bootstrapField) | safe }}
          </div>
        </div>
        <br/>
        <p class="well">By signing up, you agree to our <a href="/terms">Terms of Service</a> and <a href="/privacy">Privacy Policy</a>.</p>
        <div class="form-group">
          <button type="submit" class="btn btn-default">Submit</button> <a href="/login" class="btn-link btn">Have an account? Log in here</a>
        </div>
      </form>
    </div>
  </div>
</div>
{% endblock %}
